@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #303030;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 60px;
}

a {
  text-decoration: none;
  color: #595959;
  transition: 0.25s;
  cursor: pointer;
}

a:hover {
  color: lightslategray;
  transition: 0.25s
}

